---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/ganus11/ganus11.github.io/main/images/dark2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>
<body>
  <div id="main">



    <nav><ul>
      
        <li class="p-intro"><a href="index.html">Home</a></li>
        
        <li class="p-about-me"><a href="about-me.html">About me</a></li>

        <li class="p-acads active_nav"><a href="acads.html">Academics</a></li>
        
        <li class="p-projects"><a href="projects.html">Projects</a></li>
        
        <!-- <li class="p-contact-me"><a href="contact-me.html">Contact me</a></li> -->
      
    </ul></nav>

 
      <div id="acads" class="section p-acads">
        
        <div class="container">
          <h1>Academics</h1>
          <p class="center">I am a Graduate student in the <a href="https://www.ise.ncsu.edu/future-students-parents/degrees/mie/">Industrial Engineering, NC State</a> pursuing a Master in Industrial Engineering. I have completed three semesters of my Masters and have a cumulative performance index of 3.75 out of 4 </a> Completed Bachelor of Technology Production Engineering from  Veermata Jijabai Technological Institute Mumbai India in May 2019 by securing 7.58/10 as cumulative performance index </p>
          
          <h2 class="text-white">graduate studies </h2>
          <p>Courses marked with an asterisk (*) are ongoing courses and will finish by Spring 2021.</p>

          <h3 class="text-white">Industrial Engineering , NC State </h3>
          <ul>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 501 - Introduction to Operations Research </a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">OR 504  - Introduction to Mathematical Programming </a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 519 - Database Applications in Industrial and Systems Engineering </a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 540 - Human Factors in System Design*</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 552 - Design and Control of Production and Service System</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 560  - Stochastic Models in Industrial Engineering</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 589 - Special Topics in Industrial Engineering</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 677 - Industrial Engineering Projects</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ISE 716 - Automated systems Engineering</a></li>
            <li><a href="https://webappprd.acs.ncsu.edu/php/coursecat/directory.php#course-search-results">ST 516 - Experimental Statistics for Engineers II</a></li>
          </ul>

          
          <h3 class="text-white">Online certifications</h3>
          <ul>
            <li><a href="">Certified Associate in Project Management (CAPM) | Project Management Institute</a> </li>
            <li><a href="">Supply Chain Analytics (SC0x) | Massachusetts Institute of Technology</a></li>
            <li><a href="">Introduction to data science  | IBM</a></li>
            <li><a href="">Lean Six Sigma Green Belt(ICGB)| International Association for Six Sigma Certification</a></li>
            <li><a href="">Supply chain Analytics | Massachusetts Institute of Technology</a></li>
          </ul>

          <h2 class="text-white">Bachelor of Technology from Veermata Jijabai Technological Institute Mumbai India</h2>
          <p>Courses marked with an asterisk (*) are elective courses.</p>

          <h3 class="text-white">Production Engineering</h3>
          <ul>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus_Final-Year_B_Tech__PRODUCTION.pdf">PE4001S- Economics,Finance Accounting and Costing </a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus_Final-Year_B_Tech__PRODUCTION.pdf">PE4002S- Supply Chain Management </a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus_Final-Year_B_Tech__PRODUCTION.pdf">PE4003S - Operation Research </a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus_Final-Year_B_Tech__PRODUCTION.pdf">PE400T Composite Material and Processin technology</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus_Final-Year_B_Tech__PRODUCTION.pdf">PE4112 T Business Analytics *</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE3003S- Machine Design</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE3005 -Metal Forming Technology</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE3007 - Industrial Engineering </a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE 3010 - CAD/CAM/CIM</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE 3012- Mechatronics and Automation</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE 3011- Tool Engineering</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">ME2007- Fluid Mechanics</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE 2001- Production and Machine Drawing</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">PE 2004- Metal Casting and Joining</a></li>
            <li><a href="https://www.vjti.ac.in/images/Production/180323_Syllabus%20_TY%20B.Tech%20%20PRODUCTION.pdf">ME 2014 Theory of Machines</a></li>
          </ul>

        </div>
      </div>
    


     <div id="footer" class="section text-white">
      <div class="container">
        <a class="btn btn-dark btn-social mx-2 p-1" href="https://github.com/ganus11"><i class="fa fa-github"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.facebook.com/profile.php?id=100010435631844"><i class="fa fa-facebook"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.linkedin.com/in/LinkedIn Profile/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="container"><p>Mail me here: <a href="mailto:gsubram6@ncsu.edu">gsubram6@ncsu.edu</a>, <a href="mailto:gsubram6@ncsu.edu">gsubram6@ncsu.edu</a></p></div>
      <div class="container"><p>Ganeshan Subramanian - 2021</p></div>
    </div>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
