---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>
<body>
  <div id="main">



    <nav><ul>
      
        <li class="p-intro"><a href="index.html">Home</a></li>
        
        <li class="p-about-me"><a href="about-me.html">About me</a></li>

        <li class="p-acads active"><a href="acads.html">Academics</a></li>
        
        <li class="p-projects"><a href="projects.html">Projects</a></li>
        
        <li class="p-contact-me"><a href="contact-me.html">Contact me</a></li>
      
    </ul></nav>

 
      <div id="acads" class="section p-acads">
        
        <div class="container">
          <h1>Academics</h1>
          <p class="center">I am a student in the <a href="https://www.phy.iitb.ac.in/">Department of Physics, IIT Bombay</a> pursuing a B.Tech in Engineering Physics. I have completed three semesters of my B.Tech and have a cumulative performance index of 9.58 out of 10 so far with a semester performance index of 9.76 out of 10 in my third semester. I have been a teaching assistant for the course PH 107 (Quantum physics and application) where I conducted weekly tutorial sessions for a class of 40 first year students and correct course quizzes and exams.</p>
          
          <h2 class="text-white">List of courses I have taken or am taking</h2>
          <p>Courses marked with an asterisk (*) are ongoing courses and will finish by Spring 2021.</p>

          <h3 class="text-white">Department of Physics, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20544">PH 544 - General Theory of Relativity *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20233">PH 233 - Electronics Lab II (Op amp circuits) *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20231">PH 231 - Electronics Lab I (Basic circuits) *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20232">PH 232 - Physics Laboratory I (General Physics Lab) *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20204">PH 204 - Quantum Mechanics I *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20202">PH 202 - Waves & Oscillations & Optics *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20567">PH 567 - Non linear Dynamics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20219">PH 219 - Data Analysis and Interpretation</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20217">PH 217 - Classical Mechanics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20215">PH 215 - Thermal Physics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20207">PH 207 - Introduction to Special Relativity</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20108">PH 108 - Basics of Electricity & Magnetism</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20117">PH 117 - Physics Lab</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20107">PH 107 - Quantum Physics and Application</a></li>
          </ul>

          <h3 class="text-white">Department of Computer Science and Engineering, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20213">CS 213 - Data Structures and Algorithms *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20228">CS 228 - Logic in CS</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20101">CS 101 - Computer Programming and Utilization</a></li>
          </ul>

          <h3 class="text-white">Department of Mathematics, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20214">MA 214 - Introduction to Numerical Analysis *</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20207">MA 207 - Differential Equations 2</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20205">MA 205 - Complex Analysis</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20106">MA 106 - Linear Algebra</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20105">MA 105 - Calculus</a></li>
          </ul>

          <h3 class="text-white">Department of Electrical Engineering, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20224">EE 224 - Digital Systems</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20112">EE 112 - Introduction to Electronics</a></li>
          </ul>

          <h3 class="text-white">Department of Chemistry, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CH%20117">CH 117 - Chemistry Lab</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CH%20107">CH 107 - Physical Chemistry</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CH%20105">CH 105 - Organic and Inorganic Chemistry</a></li>
          </ul>

          <h3 class="text-white">Department of Mechanical Engineering, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=ME%20119">ME 119 - Engineering Graphics and Drawing</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=ME%20113">ME 113 - Workshop Practice</a></li>
          </ul>

          <h3 class="text-white">Department of Biosciences and Bioengineering, IIT Bombay</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=BB%20101">BB 101 - Biology</a></li>
          </ul>

          <h3 class="text-white">MOOCs</h3>
          <ul>
            <li><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/SFPDY2HBRVV9">Deeplearning Specialization</a> of <a href="https://www.deeplearning.ai/">deeplearning.ai</a> (Coursera)</li>
          </ul>

        </div>
      </div>
    


     <div id="footer" class="section text-white">
      <div class="container">
        <a class="btn btn-dark btn-social mx-2 p-1" href="https://github.com/mahadevans2432"><i class="fa fa-github"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.facebook.com/profile.php?id=100010435631844"><i class="fa fa-facebook"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.linkedin.com/in/mahadevan-subramanian-a3b4291a8/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="container"><p>Mail me here: <a href="mailto:190260027@iitb.ac.in">190260027@iitb.ac.in</a>, <a href="mailto:mahadevan.subramanian2432@gmail.com">mahadevan.subramanian2432@gmail.com</a></p></div>
      <div class="container"><p>Mahadevan Subramanian - 2021</p></div>
    </div>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
